# Installed dependencies
node_modules

# Sublime files
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Private key and cert information
*.pem
*.csr

# Configuration Files
BridgeConfig.json
