---Begin---

[ req ]
default_bits       = 1024          # Size of keys
default_keyfile    = key.pem       # name of generated keys
default_md         = md5           # message digest algorithm
string_mask        = nombstr       # permitted characters
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
# Variable name       Prompt string
#----------------------   ----------------------------------
0.organizationName     = Axon Interactive
organizationalUnitName = CA/IT
emailAddress           = theteam@axoninteractive.ca
emailAddress_max       = 40
localityName           = Toronto
stateOrProvinceName    = Ontario
countryName            = CA
countryName_min        = 2
countryName_max        = 2
commonName             = AXON
commonName_max         = 64

# Default values for the above, for consistency and less typing.
# Variable name           Value
#------------------------------   ------------------------------
0.organizationName_default  = The Sample Company
localityName_default        = Metropolis
stateOrProvinceName_default = New York
countryName_default         = US

[ v3_ca ]
basicConstraints       = CA:TRUE
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always

----End----